body{
    font-family: system-ui;
    background-color:rgb(255, 238, 216);
}

h1{
    text-align: center;
}
.flextitle{
    font-size: x-large;
}
.flexbox{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    align-items: center;

}
.flexg{
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 2, 84);
    margin: 3%;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    gap: 5%;
    padding-left: 4%;
}
.img{
    display: flex;
    justify-content: start;
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.img-container{
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flexm{
    display: flex;
    justify-content: end;
    font-size: 1em;
    width: 49%;
    text-align:justify;
}
.flexmt{
    font-size: xx-large;
}